extends ../layouts/default

include ../mixins/commenting

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")
	link(rel="stylesheet", href="/styles/card.css")
	
block content
	.page-header(style="margin-bottom:10px;")
		h2 FAQ
		p.lead(style="margin-bottom:5px;") Haluamme tehdä ratsastusharrastuksen aloittamisesta sinulle mahdollisimman helpoksi.
		
		each item in data.faqs
			h1 #{item.no}. #{item.question}
			| !{item.answer}

	h5.panel(style="margin-top:20px;")
			p.panel-body Jäikö kysyttävää? Ota yhteyttä Ratsastajainliittoon oheisen palautelaatikon kautta. Muistathan jättää yhteystietosi, mikäli haluat, että palaamme sinulle asiaan.
			+comment-form()
			
	script.
					// Gather all elements between `h1` elements (i.e. questions & answer) into
					// wrapper divs:
					//

					[].forEach.call(document.querySelectorAll("h1"), function(sectionEl) {
					    var faqNodes = [];
					    var node = sectionEl.nextSibling;
					    var stopTagNames = ["H1", "SCRIPT", "STYLE", "H5"];
					    while (!!node && stopTagNames.indexOf(node.tagName) === -1) {
					        faqNodes.push(node);
					        node = node.nextSibling;
					    }
					    if (faqNodes.length === 0) {
					        return;
					    }

					    var parent = sectionEl.parentElement;
					    var wrapper = document.createElement("div");
					    wrapper.classList.add("section");
					    parent.insertBefore(wrapper, sectionEl.nextSibling);

					    [].forEach.call(faqNodes, function(faqNode) {
					        parent.removeChild(faqNode);
					        wrapper.appendChild(faqNode);
					    });
					});

					// Attach 'expand/collapse' click handlers to question h1 elements:
					//
					[].forEach.call(document.querySelectorAll("h1"), function(sectionEl) {
					    sectionEl.addEventListener("click", function() {
					        sectionEl.classList.toggle("expanded");
					    });
					});

					// card view wrapper
					//
					[].forEach.call(document.querySelectorAll("h1"), function(cardEl) {
					    var cardNodes = [];
					    var node = cardEl.nextSibling;
					    var stopTagNames = ["H1", "SCRIPT","STYLE", "H5"];
					    while (!!node && stopTagNames.indexOf(node.tagName) === -1) {
					        cardNodes.push(node);
					        node = node.nextSibling;
					    }
					    if (cardNodes.length === 0) {
					        return;
					    }
					    cardNodes.unshift(cardEl);
					    var parent = cardEl.parentElement;
					    var wrapper = document.createElement("div");
					    wrapper.classList.add("card");
					    parent.insertBefore(wrapper, cardEl);

					    [].forEach.call(cardNodes, function(cardNode) {
					        parent.removeChild(cardNode);
					        wrapper.appendChild(cardNode);
					    });
					});
					
