extends ../layouts/default

block bigImage
	img(src="../../images/mainpage.jpg" style="margin-top: -30px;").img-responsive

block content
	.row
		.col-sm-8
			h3: a(href='/guide') Tervetuloa ratsastamaan!
			//- p Simple example blog with posts and categories.
			p Oletko aina haaveillut ratsastuksen aloittamisesta?
			p Tämä appi on suunniteltu sinulle, joka olet kiinnostunut hevosista ja ratsastuksesta. Pääset näillä otsikoilla hyvin harrastuksessasi alkuun ja eteenpäin.
			p Nautinnollisia hetkiä ihanan lajin parissa!
